/* ------------------------------------------- */
/* Animations */
/* ------------------------------------------- */
.scene {
    width: 320px;
    height: 320px;
    transform-style: preserve-3d;
    animation: rotate 35s infinite linear;
    position: relative;
}

.cube {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.85;
    border: 2px solid rgba(255, 255, 255, 0.5);
}

.front {
    transform: rotateY(0deg) translateZ(200px);
    background-image: url("https://pbs.twimg.com/profile_images/1608213505227759621/sqqbCVLU_400x400.jpg");
}

.right {
    transform: rotateY(90deg) translateZ(200px);
    background-image: url("https://pbs.twimg.com/profile_images/1617566565884477462/T3ik8G9u_400x400.jpg");
}

.back {
    transform: rotateY(180deg) translateZ(200px);
    background-image: url("https://pbs.twimg.com/profile_images/1752282443997184000/vaX0-w0U_400x400.jpg");
}

.left {
    transform: rotateY(-90deg) translateZ(200px);
    background-image: url("https://pbs.twimg.com/profile_images/1777718397574242304/RoTGEIuc_400x400.jpg");
}

.top {
    transform: rotateX(90deg) translateZ(200px);
    background-image: url("https://pbs.twimg.com/profile_images/1712116455691399168/JWyqyBZc_400x400.jpg");
}

.bottom {
    transform: rotateX(-90deg) translateZ(200px);
    background-image: url("https://pbs.twimg.com/profile_images/1620089935977136128/PsJ400AV_400x400.jpg");
}

@keyframes rotate {
    0% {
        transform: rotateX(0) rotateY(0);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}


/* ------------------------------------------- */
/* Skeleton cel loading */
/* ------------------------------------------- */
.line {
    float: left;
    width: 100px;
    height: 16px;
    margin-top: 12px;
    border-radius: 7px;
    background-image: linear-gradient(90deg, #ffffff20 0px, #ffffff40 40px, #ffffff20 80px);
    animation: shine-lines 3s linear infinite;
}

@keyframes shine-lines {
    0% {
        background-position: -150px;
    }
    
    50% {
        background-position: 150px;
    }
    
    100% {
        background-position: 350px;
    }
}

/* ------------------------------------------- */
/* Skeleton cel loading */
/* ------------------------------------------- */
/* CURSOR css */

.dots{z-index:999999999; position: fixed; border-radius: 50%;height:26px;width:26px;}

.dots{
    background-image: linear-gradient(to bottom, var(--primary-3), var(--sec-2));
}

.c1{transition: all 0.02s ease;}
.c2{transition: all 0.035s ease;transform:scale(0.95,0.95);}
.c3{transition: all 0.05s ease;transform:scale(0.9,0.9)}
.c4{transition: all 0.065s ease;transform:scale(0.85,0.85)}
.c5{transition: all 0.08s ease;transform:scale(0.8,0.8)}
.c6{transition: all 0.09s ease;transform:scale(0.75,0.75)}
.c7{transition: all 0.1s ease;transform:scale(0.7,0.7)}
.c8{transition: all 0.11s ease;transform:scale(0.65,0.65)}
.c9{transition: all 0.12s ease;transform:scale(0.6,0.6)}
.c10{transition: all 0.13s ease;transform:scale(0.55,0.55)}
.c11{transition: all 0.14s ease;transform:scale(0.5,0.5)}
.c12{transition: all 0.15s ease;transform:scale(0.45,0.45)}
.c13{transition: all 0.16s ease;transform:scale(0.4,0.4)}
.c14{transition: all 0.17s ease;transform:scale(0.35,0.35)}
.c15{transition: all 0.18s ease;transform:scale(0.3,0.3)}
.c16{transition: all 0.19s ease;transform:scale(0.25,0.25)}
.c17{transition: all 0.2s ease;transform:scale(0.2,0.2)}
.c18{transition: all 0.21s ease;transform:scale(0.15,0.15)}
.c19{transition: all 0.22s ease;transform:scale(0.1,0.1)}
.c20{transition: all 0.23s ease;transform:scale(0.05,0.05)}


/* Styles for laptop screens */
@media (min-width: 1280px) and (max-width: 1440px) {
    .scene {
        width: 280px;
        height: 280px;
    }

    .front {
        transform: rotateY(0deg) translateZ(160px);
    }

    .back {
        transform: rotateY(180deg) translateZ(160px);
    }
    .top {
        transform: rotateX(90deg) translateZ(160px);
    }

    .bottom {
        transform: rotateX(-90deg) translateZ(160px)
    }

    .right {
        transform: rotateY(90deg) translateZ(160px);
    }

    .left {
        transform: rotateY(-90deg) translateZ(160px);
    }

    @keyframes shine-lines {
        0% {
            background-position: 0px;
        }

        50% {
            background-position: 0px;
        }

        100% {
            background-position: 0px;
        }
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles for smaller laptops */
@media (min-width: 1024px) and (max-width: 1279px) {
    .scene {
        width: 260px;
        height: 260px;
    }

    .front {
        transform: rotateY(0deg) translateZ(130px);
    }

    .back {
        transform: rotateY(180deg) translateZ(130px);
    }
    .top {
        transform: rotateX(90deg) translateZ(130px);
    }

    .bottom {
        transform: rotateX(-90deg) translateZ(130px)
    }

    .right {
        transform: rotateY(90deg) translateZ(130px);
    }

    .left {
        transform: rotateY(-90deg) translateZ(130px);
    }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles for smaller laptops */
@media (min-width: 768px) and (max-width: 1023px) {
    .scene {
        width: 180px;
        height: 180px;
    }

    .front {
        transform: rotateY(0deg) translateZ(120px);
    }

    .back {
        transform: rotateY(180deg) translateZ(120px);
    }
    .top {
        transform: rotateX(90deg) translateZ(120px);
    }

    .bottom {
        transform: rotateX(-90deg) translateZ(120px)
    }

    .right {
        transform: rotateY(90deg) translateZ(120px);
    }

    .left {
        transform: rotateY(-90deg) translateZ(120px);
    }
}