@media (min-width: 1440px) {
  /* Styles for larger screens */
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles for laptop screens */
@media (min-width: 1280px) and (max-width: 1440px) {
  .banner h1 {
    font-size: 56px;
    width: 80%;
    line-height: 64px;
    color: var(--primary-3);
    font-weight: 600;
  }

  .all-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles for smaller laptops */
@media (min-width: 1024px) and (max-width: 1280px) {

  .container {
    max-width: 95% !important;
  }

  .all-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------------ */
/* Styles for mobiles */
@media (min-width: 320px) and (max-width: 768px) {
  .container {
    max-width: 100% !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  .py-100{
    padding: 48px 0px;
  }
  .row{
    margin: 0px;
  }
  .col-12{
    padding: 0px;
  }

  h2{
    font-size: 32px;
    line-height: 40px;
  }
  /* header */
  .logo img{
    width: 100%;
    height: unset;
  }
  .header .connect-btn{
    padding: 14px 14px;
    font-size: 13px;
    line-height: 13px;
  }

  .banner {
    padding: 150px 0px 80px 0px;
    height: unset;
  }
  .banner h1 {
    font-size: 36px;
    width: 100%;
    line-height: 48px;
  }
  .banner p {
    font-size: 16px;
    width: 100%;
  }
  .banner .banner-btn:first-child{
    margin-right:24px !important;
  }
  .banner .banner-btn:last-child{
    margin-left:0px !important
  }
  .moving{
    display: none;
  }
  
  .about {
    padding: 48px 0px;
  }
  .work-row {
    /* grid-template-columns: repeat(1,1fr); */
    padding: 0px;
    padding-top: 40px;
    background: transparent !important;
    display: flex;
   gap: 20px;
    flex-direction: column;

  }
  .work-row>div{
    grid-column: 1 !important;
  }
  .work-row div:nth-child(3) {
    grid-row: unset;
    position: unset;
  }
  .work-row .outer {
    margin-top: 50px;
  }
  .work-row .outer:first-child {
    margin-top: 0px;
  }
  .outer {
    padding: 0px 24px 0px 24px;
  }
  .main {
    top: -36px;
  }
  .wcs-cards {
    grid-template-columns: repeat(1, 1fr) !important;
    padding-top: 40px;
    gap: 32px;
  }
  .wcs-card {
    transform: translate(5px, 5px);
  }
  .wcs-card .sr-no {
    transform: skewX(-25deg);
  }
  .wcs-card:hover {
    transform: translate(-5px,-5px);
  }
  .wcs-card:hover .sr-no {
    transform: skewX(25deg);
  }
  .wcs-card:hover .sr-no h3 {
    transform: skewX(-25deg);
  }


  .faqs {
    padding: 48px 0px 100px 0px;
  }
  .faqs .accordion {
    padding: 0px;
    background: transparent;
    margin-top: 40px !important;
  }
  .accordion {
    width: 100% !important;
  }
  .accordion-button {
    padding: 24px;
  }
  .accordion-body {
    padding: 24px;
    padding-top: 0px;
  }

  .footer h4{
    margin-top: 32px !important;
  }
  .ft-list, .social {
    padding-top: 24px !important;
  }
  .ft-list li {
    margin-top: 8px;
  }
  .footer .popped {
    padding: 48px 16px;
  }
  .ft-bottom{
    flex-direction: column;
  }
  .ft-bottom .col{
    width: 100% !important;
    justify-content: center !important;
  }
  .ft-bottom .col:last-child{
    padding-top: 16px;
  }
  .ft-bottom>.col p{
    text-align:center !important
  }


  /* Innner Pages */
  .inner-banner {
    padding: 151px 0px 60px 0px;
  }
  .inner-banner p{
    width: 100% !important;
  }
  .borrow-tabs{
    padding: 48px 0px 100px 0px;
  }
  .borrow-tabs .box-main{
    flex-direction: column;
  }
  .tab-btns, .tab-content{
    width: 100%;
    padding: 40px 20px;
  }
  .borrow-tabs .tab-content{
    margin-top: 24px;
    padding: 40px 20px;
  }
  .cn-wallet {
    padding: 20px;
    background: #202020ab;
    width: 100% !important;
  }
  .content-header {
    justify-content: start;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
  }
  .all-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .list-view{
    overflow: auto;
  }
  .table{
    width: max-content;
  }

  /* modal */
  .modal-content.list-modal {
    padding: 24px; 
  }
  .list-modal .ps-5{
    padding-left:0px !important;
    margin-top: 24px;
  }
  .list-modal .close-icon {
    position: relative;
    margin-left: auto;
    right: -10px;
    top: -13px;
  }
}





/* ------------------------------------------- */
/* Animations */
/* ------------------------------------------- */
.scene {
  width: 320px;
  height: 320px;
  transform-style: preserve-3d;
  /* animation: rotate 20s infinite linear; */
  animation: rotate 35s infinite linear;
  position: relative;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0.85;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.front {
  transform: rotateY(0deg) translateZ(200px);
  background-image: url("/media/nfts/1.jpeg");
}

.right {
  transform: rotateY(90deg) translateZ(200px);
  background-image: url("/media/nfts/2.jpeg");
}

.back {
  transform: rotateY(180deg) translateZ(200px);
  background-image: url("/media/nfts/3.jpeg");
}

.left {
  transform: rotateY(-90deg) translateZ(200px);
  background-image: url("/media/nfts/4.jpeg");
}

.top {
  transform: rotateX(90deg) translateZ(200px);
  background-image: url("/media/nfts/5.jpeg");
}

.bottom {
  transform: rotateX(-90deg) translateZ(200px);
  background-image: url("/media/nfts/6.jpeg");
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}


/* ------------------------------------------- */
/* Skeleton cel loading */
/* ------------------------------------------- */


.line {
  float: left;
  width: 100px;
  height: 16px;
  margin-top: 12px;
  border-radius: 7px;
  background-image: linear-gradient(90deg, #ffffff20 0px, #ffffff40 40px, #ffffff20 80px);
  animation: shine-lines 3s linear infinite;
}

@keyframes shine-lines {
  0% {
    background-position: -150px;
  }

  50% {
    background-position: 150px;
  }

  100% {
    background-position: 350px;
  }
}